*{
  box-sizing: border-box;
 }
body {
  margin: 0;
  background-color: darkblue;
}
h1{
  text-align: center;
  color:white;
  font-size: 70px;
}
h2 {
  color: white;
  font-size: 50px;
}
h3 {
  color: white;
  text-align: center;
  font-size:50px;
}
h4 {
  color:white;
}
p {
  color: ghostwhite;
}
.auto{
padding:20px;
}
.menu{
  background-color: #333;
  text-align: center;
  padding: 20px;
}
.menu a{
  text-decoration:none;
  color: ghostwhite; 
  padding: 20px 25px;
  text-size:40px;
}
.menu2 {
  background-color: #333;
  text-align: center;
  padding: 5px;
}
.menu2 h2{
  font-size:40px;
  text-decoration: none;
}
.topo{
  background-color:darkblue;
  padding: 20px;
}
.icon {
  display: block;
  margin: auto;
  width: 50%; /* Ou qualquer tamanho definido */
}
.c1 {
  background-color: darkblue;
  padding: 20px;
}
.c1 p{
font-size:30px;  
}
.you {
  display: block;
  margin: auto;
  width: 75%;
  height: 398px;
}
.geral {
  display: flex;
  flex-wrap:wrap;
  padding: 20px;
  margin:0;
}
.geral h4{
  font-size:40px;
}
.geral p{
  font-size:25px;
  text-decoration: square;
}
.coluna{
  background-color:darkblue;
  float: left;
  width: 50%;
}
.es{
  display: block;
  margin-left:15%;
}
.p10{
  margin-left:10%;
}
.pd{
  margin-left:20%;
}