*{
  box-sizing: border-box;
 }
body {
  margin: 0;
  background:darkblue;
}
h1{
  text-align: center;
  color:white;
  font-size: 70px;
}
h2 {
  font-size: 50px;
  color:white;
}
h3 {
  text-align: center;
  font-size:50px;
color:white;
}
h4 {
color:white;
}
p {
color:ghostwhite;
}
.auto{
padding:20px;
}
.menu{
  background-color: #333;
  text-align: center;
  padding: 20px;
}
.menu a{
  text-decoration:none;
  padding: 20px 25px;
  font-size:30px;
color:white;
}
.menu2 {
  background-color: #333;
  text-align: center;
  padding: 5px;
  
}
.menu2 h2{
  font-size:40px;
  text-decoration: none;
color:white;
}
.topo{
  
  padding: 20px;
}
.icon {
  display: block;
  margin: auto;
  width: 50%; 
  border-radius:50px;
}
.c1 {
  
  padding: 20px;
}
.c1 p{
font-size:30px;  
color:ghostwhite;
}
.you {
  display: block;
  margin: auto;
  width: 75%;
  height: 398px;
}
.geral {
  display: flex;
  flex-wrap:wrap;
  padding: 20px;
  margin:0;
}
.geral h4{
  font-size:40px;
color:white;
}
.geral p{
  font-size:25px;
  text-decoration: square;
  color:ghostwhite;
}
.coluna{
  
  float: left;
  width: 50%;
}
.es{
  display: block;
  margin-left:15%;
  border-radius: 30px;
}
.p10{
  margin-left:10%;
}
.pd{
  margin-left:20%;
}